.top-cart {
    background-image: url(img/top_Cart.png);
    height: 400px;
    margin-bottom: 64px;
}

.top{
    &__title_cart{
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        text-align: left;
        margin-top: 127px;
    }
}

.cart {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 32px;

    &__content{
        grid-column: span 8;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 276px;
        font-family: inherit;
        border: none;
        background: transparent;
        &::placeholder {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }

        &-data {
            border-bottom: 1px solid #CACDD8;
        }
    }

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;

    }

    &__img {
        width: 173px;
        height: 173px;
    }

    &__title  {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        padding-top: 42px;
    }

    &__product-name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__product-text{
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    &__link {
        font-size: 14px;
        line-height: 210%;
        text-align: center;
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__link-button{
        width: 290px;
        height: 41px;
        display: block;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #020202;
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        font-family: inherit;
        &:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }

    &__button{
        width: 200px;
        height: 37px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;

        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        font-family: inherit;
    }


    &__box-buttons {
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }

    &__product-number {
        width: 71px;
        height: 51px;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        text-align: center;
        border: none; 
        color: rgb(0, 0, 0);
    }
}

.cart__form {
    border-radius: 20px;
    background-color: #F7F6F6;
    height: 556px;
    grid-column: span 4;

    &-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgb(0, 0, 0);
        padding-top: 42px;
        padding-bottom: 35px;
    }
    
    &-info{
        display: flex;
        flex-direction: column;
        gap: 44px;
        padding-left: 27px;
        padding-right: 64px;
        padding-top: 35px;
        padding-bottom: 64px;
    }

    &-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &-result{
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-bottom: 18px;
    }

    &-buttons {
        display: flex;
        gap: 7px;
    }
}