
.top-catalog {
    background-image: url(img/top_catalog.jpg);
    height: 400px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .select {
//     position: relative;
//     display: flex;
//     gap: 10px;
//     -webkit-appearance: none;/* Chrome */

//     &__menu{
//         background: none;
//         border: 1px solid rgb(196, 196, 196);
//         border-radius: 20px;
//         color: rgb(0, 0, 0);
//         line-height: 20px;
//         font-size: 16px;
//         padding-left: 23px;

//         &_filtr {
//             font-weight: 500;
//             width: 182px;
//             height: 40px;
//             padding-right: 12px;
//         }

//         &_sort {
//             font-weight: 400;
//             width: 227px;
//             height: 40px;
//             padding-right: 14px;
//         }
    
//     }
// }

.menu-catalog{

    &_link {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
        }
    }
    
.select {
        position: relative;
        display: flex;
        gap: 10px;
        background: none; /* убираем фон */
        -webkit-appearance: none;/* Chrome */
        appearance: none;/* убираем дефолнтные стрелочки */
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        &__menu {
            background: none;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 20px;
            color: rgb(0, 0, 0);
            line-height: 20px;
            font-size: 16px;
            padding-left: 23px;
            appearance: none;/* убираем дефолнтные стрелочки */
            
            &_filtr {
                font-weight: 500;
                width: 182px;
                height: 40px;
                padding-right: 12px;
                background-image: url(img/strelka.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 22px) center;
                
            }

            &_sort {
                font-weight: 400;
                width: 227px;
                height: 40px;
                padding-right: 14px;
                background-image: url(img/strelka.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 22px) center;
            }
        }
    }
    