@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/backtop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #FFFFFF;
  max-width: 792px;
}
.top__title_catalog {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  margin-top: 127px;
}
.top__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;
}
.header__input::-moz-placeholder {
  color: #FFFFFF;
  font-family: inherit;
}
.header__input::placeholder {
  color: #FFFFFF;
  font-family: inherit;
}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.link-catalog {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #FFFFFF;
  text-decoration: underline;
}
.link-catalog:hover {
  text-decoration: none;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/for-1.jpeg);
}
.for__item_2 {
  background-image: url(img/for-2.jpeg);
}
.for__item_3 {
  background-image: url(img/for-3.jpeg);
}
.for__item_4 {
  background-image: url(img/for-4.jpeg);
}
.for__item_5 {
  background-image: url(img/for-5.jpeg);
}

.product-box {
  margin-top: 64px;
  margin-bottom: 64px;
}

.product-content {
  margin-top: 36px;
  margin-bottom: 39px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.product img {
  transition: transform 0.3s ease; /* Плавный переход */
}
.product img:hover {
  transform: scale(1.1); /* Увеличение изображения на 10% */
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 10px;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  padding-bottom: 12px;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__price {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.product__price_sale {
  text-decoration-line: line-through;
  color: #888888;
}

.link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
}
.link:hover {
  text-decoration: none;
  color: #888888;
}

.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: rgb(247, 246, 246);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__content {
  width: 789px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.footer__icons img {
  transition: filter 1s; /* задержка 1 секунда */
}
.footer__icons img:hover {
  filter: brightness(0); /* цвет иконки станет черным */
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.footer__email {
  font-family: inherit;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}
.footer__email::-moz-placeholder {
  font-family: inherit;
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: rgb(196, 196, 196);
}
.footer__email::placeholder {
  font-family: inherit;
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: rgb(196, 196, 196);
}
.footer__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-family: inherit;
}
.footer__button:hover {
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.top-catalog {
  background-image: url(img/top_catalog.jpg);
  height: 400px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-catalog_link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.menu-catalog_link:hover {
  text-decoration: underline;
}

.select {
  position: relative;
  display: flex;
  gap: 10px;
  background: none; /* убираем фон */
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none;
       appearance: none; /* убираем дефолнтные стрелочки */
  font-family: inherit; /* наследует от родителя */
  font-size: 1rem;
  font-family: inherit;
}
.select__menu {
  background: none;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  line-height: 20px;
  font-size: 16px;
  padding-left: 23px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* убираем дефолнтные стрелочки */
  font-family: inherit;
  background-image: url(img/strelka.svg);
  background-repeat: no-repeat;
}
.select__menu_filtr {
  font-weight: 500;
  width: 182px;
  height: 40px;
  padding-right: 12px;
  background-position: calc(100% - 22px) center;
}
.select__menu_sort {
  font-weight: 400;
  width: 227px;
  height: 40px;
  padding-right: 14px;
  background-position: calc(100% - 22px) center;
}

.filter-form {
  position: absolute;
  top: calc(100% + 14px);
  left: -365px;
  max-height: 548px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  z-index: 1;
}
.filter-form__conteiner {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 32px 65px;
  width: 446px;
  max-height: 548px;
}
.filter-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}
.filter-form__fieldset_type {
  padding-right: 40px;
}
.filter-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.filter-form__btn {
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px 76px;
  cursor: pointer;
  font-family: inherit;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url(img/filter_1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  position: absolute;
  width: 190px;
  height: 8px;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range__input::nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 189px;
  display: inline-block;
  margin-top: -5px;
}
.range__slider input {
  position: absolute;
}
.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}
.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url(img/filter_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}
.checkbox__label_black::before {
  background-image: url(img/icon-checked-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding-left: 30px;
}
.checkbox__label_white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}
.checkbox__label_grey::before {
  background-color: #737373;
  border-color: #737373;
}
.checkbox__label_red::before {
  background-color: #f00;
  border-color: #f00;
}
.checkbox__label_orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}
.checkbox__label_yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}
.checkbox__label_green::before {
  background-color: #008000;
  border-color: #008000;
}
.checkbox__label_cyan::before {
  background-color: #009fe3;
  border-color: #009fe3;
}
.checkbox__label_blue::before {
  background-color: #00f;
  border-color: #00f;
}
.checkbox__label_violet::before {
  background-color: #d89aff;
  border-color: #d89aff;
}
.checkbox__label_pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid rgb(136, 136, 136);
  display: inline-block;
  position: absolute;
  left: 0;
}

.checkbox__input:checked + .checkbox-label::before {
  background-image: url(image/svggalka.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.top-cart {
  background-image: url(img/top_Cart.png);
  height: 400px;
  margin-bottom: 64px;
}

.top__title_cart {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__content {
  grid-column: span 8;
}
.cart__info {
  font-family: inherit;
  border: none;
  background: transparent;
}
.cart__info::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__info::placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__info-data {
  border-bottom: 1px solid #CACDD8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__img {
  width: 173px;
  height: 173px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 276px;
}
.cart__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  padding-top: 42px;
}
.cart__product-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.cart__product-text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.cart__link {
  font-size: 14px;
  line-height: 210%;
  text-align: center;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link-button {
  width: 290px;
  height: 41px;
  display: block;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020202;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  font-family: inherit;
}
.cart__link-button:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart__button {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-family: inherit;
}
.cart__box-buttons {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__product-number {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  text-align: center;
  border: none;
  color: rgb(0, 0, 0);
}

.cart__form {
  border-radius: 20px;
  background-color: #F7F6F6;
  height: 556px;
  grid-column: span 4;
}
.cart__form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(0, 0, 0);
  padding-top: 42px;
  padding-bottom: 35px;
}
.cart__form-info {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-left: 27px;
  padding-right: 64px;
  padding-top: 35px;
  padding-bottom: 64px;
}
.cart__form-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__form-result {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-bottom: 18px;
}
.cart__form-buttons {
  display: flex;
  gap: 7px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .cart__content {
    grid-column: span 12;
  }
  .cart__form {
    grid-column: span 6;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}/*# sourceMappingURL=style.css.map */